:root{
    --color-primary : #745695;
    --color-primary-hover: #3f3d56;
    --color-white : #FFFFFF;
    --color-white-80 : #ffffffde;
    --color-secondary: #f4f4f452;
    --color-scrollbar:#f1f1f1;

    /* #9b4dca */

}
